/* // $_main_color: #242424; */
:root {
  --blanco: #f9fbfd;
  --amarillo: #fcf052;
  --azul: #005bb5;
  --rojo: #bd323a;
  --negro: #222;
  --tan: #e5dac3;
}
:root {
  --font-family: 'Rubik', sans-serif;
  --second-family: 'Lexend', sans-serif;
  --third-family: 'Inter', sans-serif;
  --font3: 'Archivo Narrow', sans-serif;
}

