<section id="benefits" class="benefits">
  <div class="benefits_container container">
    <div class="benefit_grid">
      <h2 class="benefit_title">
        Journey into the World of Puzzles: Travel the Globe, One Puzzle at a
        Time!
      </h2>
      <div class="benefit_img-box">
        <img
          src="./img/travel_puzzle.jpg"
          alt="Travel the Globe, One Puzzle at a Time!"
        />
      </div>
      <div class="benefit_grid_flex">
        <h3 class="benefit_second-title">
          Unlock amazing places with every match!
        </h3>
        <p class="benefit_text">
          Each level is a new adventure! Go from sunny beaches to snowy
          mountains, just by matching colorful pieces. See famous landmarks and
          hidden gems as you play.
        </p>
      </div>
    </div>
  </div>
</section>
