<section id="characters" class="characters">
  <div class="characters_container container">
    <div class="characters_grid">
      <h2 class="characters_title">
        Relaxation without Wi-Fi: Relax and Play, Anywhere, Anytime!
      </h2>
      <div class="characters_img-box">
        <img src="./img/characters.jpg" alt="Relaxation without Wi-Fi" />
      </div>
      <div class="characters_grid_flex">
        <h3 class="characters_second-title">No internet? No problem!</h3>
        <p class="characters_text">
          Need a break? 'Match Journey' is your perfect escape. Play offline and
          unwind, whether you're on a bus, in a park, or just chilling at home.
        </p>
      </div>
    </div>
  </div>
</section>
