<section id="description" class="description">
  <div class="description_container container">
    <div class="description_grid">
      <h2 class="description_title">
        Collection of Landmarks: Build Your Own World Wonder Collection!
      </h2>
      <div class="description_img-box">
        <img src="./img/desc.jpg" alt="Collection of Landmarks" />
      </div>
      <div class="description_grid_flex">
        <h3 class="description_second-title">
          Piece together iconic landmarks.
        </h3>
        <p class="description_text">
          Collect puzzle fragments to build amazing landmarks. <p class="description_text">Each completed
          landmark adds to your virtual travel scrapbook! See how many you can
          gather.</p>
        </p>
      </div>
    </div>
  </div>
</section>
