<section id="features" class="features">
  <div class="features_container container">
    <div class="description_grid">
      <h2 class="features_title">
        Daily Adventures: Every Day is a New Adventure!
      </h2>
      <div class="features_img-box">
        <img src="./img/feature.jpg" alt="Daily Adventures" />
      </div>
      <div class="description_grid_flex">
        <h3 class="features_second-title">
          Fun events and awesome rewards await!
        </h3>
        <p class="features_text">
          Log in every day for new events, special puzzles, and cool rewards!
          There's always something new to discover in 'Match Journey'.
        </p>
      </div>
    </div>
  </div>
</section>
