<section class="footer">
  <div class="footer_container container">
    <ul class="footer_mobile_nav-pages_list">
      <li class="footer-nav-pages_list_item">
        <a href="./privacy-policy .html" class="nav-pages_list_item_link"
          >Privacy Policy</a
        >
      </li>
      <li class="footer_nav-pages_list_item">
        <a href="./terms-and-conditions.html" class="nav-pages_list_item_link"
          >Terms & Conditions</a
        >
      </li>
      <li class="footer_nav-pages_list_item">
        <a href="./cookies-policy.html" class="nav-pages_list_item_link"
          >Cookies Policy</a
        >
      </li>
    </ul>
    <p class="footer_privacy">
      <span
        >©2025
        <a href="mailto:info@sparkfusionforce.com"
          >info@sparkfusionforce.com.</a
        ></span
      >
      All rights reserved
    </p>
  </div>
</section>
