<section id="gallery" class="gallery">
  <div class="gallery_container container">
    <div class="gallery_grid">
      <h2 class="gallery_title">
        Challenge for the Mind: Think You're a Puzzle Pro? Prove It!
      </h2>
      <div class="gallery_img-box">
        <img src="./img/gallery.jpg" alt="Challenge for the Mind" />
      </div>
      <div class="gallery_grid_flex">
        <h3 class="gallery_second-title">
          Test your skills with tricky levels.
        </h3>
        <p class="gallery_text">
          It's not just matching colors! Each level has unique challenges that
          will test your logic and problem-solving skills. Get ready for some
          brain-bending fun!
        </p>
      </div>
    </div>
  </div>
</section>
