<header class="header_section">
  <div class="header_container container">
    <div class="header">
      <button class="header_mobile_btn"></button>
      <!-- nav це box шторка для modile version  -->
      <nav class="header_mobile_nav">
        <ul class="header_mobile_nav-section_list">
          <li id="header_list_item1" class="header_mobile_list-section_item">
            <a href="#hero" class="header_list_item_link">Idea with Puzzles</a>
            <span class="hover_span"></span>
          </li>
          <li id="header_list_item2" class="header_mobile_list-section_item">
            <a href="#benefits" class="header_list_item_link"
              >Journey into the World of Puzzles</a
            >
            <span class="hover_span"></span>
          </li>
          <li id="header_list_item3" class="header_mobile_list-section_item">
            <a href="#description" class="header_list_item_link"
              >Collection of Landmarks</a
            >
            <span class="hover_span"></span>
          </li>
          <li id="header_list_item4" class="header_mobile_list-section_item">
            <a href="#gallery" class="header_list_item_link"
              >Challenge for the Mind</a
            >
            <span class="hover_span"></span>
          </li>
          <li id="header_list_item5" class="header_mobile_list-section_item">
            <a href="#features" class="header_list_item_link"
              >Daily Adventures</a
            >
            <span class="hover_span"></span>
          </li>
          <li id="header_list_item6" class="header_mobile_list-section_item">
            <a href="#characters" class="header_list_item_link"
              >Relaxation without Wi-Fi</a
            >
            <span class="hover_span"></span>
          </li>
          <li id="header_list_item7" class="header_mobile_list-section_item">
            <a href="#reviews" class="header_list_item_link"
              >Simple Rules, Endless Fun</a
            >
            <span class="hover_span"></span>
          </li>
          <li id="header_list_item8" class="header_mobile_list-section_item">
            <a href="#search" class="header_list_item_link"
              >Embark on a Journey</a
            >
            <span class="hover_span"></span>
          </li>
        </ul>
        <!-- мобільна версія до Policy-->
        <ul class="header_mobile_nav-pages_list">
          <li class="nav-pages_list_item">
            <a href="./privacy-policy .html" class="nav-pages_list_item_link"
              >Privacy Policy</a
            >
          </li>
          <li class="nav-pages_list_item">
            <a
              href="./terms-and-conditions.html"
              class="nav-pages_list_item_link"
              >Terms & Conditions</a
            >
          </li>
          <li class="nav-pages_list_item">
            <a href="./cookies-policy.html" class="nav-pages_list_item_link"
              >Cookies Policy</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
