<section id="hero" class="hero">
  <div class="hero_container container">
    <div class="hero_inner">
      <div class="hero_img-body-box">
        <img src="./img/body.png" alt="Match Journey" />
      </div>
      <h1 class="hero_title">
        Match3 Puzzle: From Feline Chaos to Puzzle Magic!
      </h1>
      <div class="hero_img-cat-box">
        <img src="./img/cat_hero.png" alt="cat hero" />
      </div>
      <div class="hero_box-text">
        <h3 class="hero_box-text_strong-story">
          Our game's wild origin story!
        </h3>
        <p class="hero_box-text_text">
          Picture this: game night, snacks, and... total puzzle pandemonium! Our
          mischievous cat decided to 'rearrange' the game, and BAM! 'Match
          Journey' was born. We realized mixing up the familiar could lead to
          something awesome.
        </p>
      </div>
      <div class="hero_box_link-inner">
        <h3 class="box_inner-link_strong">Discover the chaos!</h3>
        <a href="https://play.google.com/store/apps/details?id=com.nstage.matchjourney&hl=en&gl=us" target="_blank" class="box_inner-link_link">
          <img
            class="box_inner-link_link_logo"
            src="./img/google-play-logo.png"
            alt="Logo Google play"
          />
          <img
            class="box_inner-link_link_logo-text"
            src="./img/google-play-text.png"
            alt="Text logo google play"
          />
        </a>
      </div>
    </div>
  </div>
</section>
