<section id="reviews" class="reviews">
  <div class="reviews_container container">
    <div class="reviews_grid">
      <h2 class="reviews_title">
        Simple Rules, Endless Fun: Easy to Learn, Impossible to Put Down!
      </h2>
      <div class="reviews_img-box">
        <img src="./img/reviews.jpg" alt="Relaxation without Wi-Fi" />
      </div>
      <div class="reviews_grid_flex">
        <h3 class="reviews_second-title">
          Simple gameplay, endless enjoyment.
        </h3>
        <p class="reviews_text">
          Anyone can play! Match three or more pieces, and you're good to go.
          But don't be fooled by the simplicity – the levels get more exciting
          as you go!
        </p>
        <h3 class="reviews_second-title reviews_second-title2">
          Start playing!
        </h3>
      </div>
    </div>
  </div>
</section>
