<section id="search" class="search">
  <div class="search_container container">
    <h2 class="search_title">
      Ready for Your Puzzle Adventure? Download 'Match Journey' today!
    </h2>
    <p class="search_text">
      <span> Join millions of players and start your puzzle journey!</span>
      Download now and discover a world of fun and excitement.
    </p>
    <a href="https://play.google.com/store/apps/details?id=com.nstage.matchjourney&hl=en&gl=us" target="_blank" class="search_box_inner-link_link">
      <img
        class="box_inner-link_link_logo"
        src="./img/google-play-logo.png"
        alt="Logo Google play"
      />
      <img
        class="box_inner-link_link_logo-text"
        src="./img/google-play-text.png"
        alt="Text logo google play"
      />
    </a>
  </div>
</section>
