.search {
  padding: 40px 0;
  background-color: var(--tan);
  width: 100%;
  scroll-margin-top: 50px;
  @media screen and (min-width: 1440px) {
    padding: 64px 0;
  }
}
.search_container {
  @media screen and (min-width: 1440px) {
    width: 1050px;
    margin: 0 auto;
  }
}
.search_title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--azul);
  margin-bottom: 24px;
}
.search_text {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  text-align: center;
}
.search_text span {
  display: block;
}
.search_box_inner-link_link {
  width: 280px;
  height: 72px;
  border-radius: 12px;
  background-color: var(--negro);
  box-shadow: 0 4px 4px 0 rgba(45, 45, 45, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 24px auto 0 auto;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.search_box_inner-link_link:hover {
  background-color: var(--rojo);
}
.box_inner-link_link_logo {
  width: 44px;
}
.box_inner-link_link_logo-text {
  width: 162px;
}
